{% extends 'dashboard2.html' %}
{% block body %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>updateDform</title>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

    <!-- Fengyuan Chen's Datepicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css"
        integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"
        integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>

</head>
<body>

    {% for i in item_list %}

        <div class="container">
            <div class="row g-3">
                <div class="col-12">
                    <label for="email" class="form-label"> <strong>Email ID :</strong> {{i.email}}
                    </label>
                    
                </div>
                <div class="col-12">
                    <label for="address1" class="form-label"> <strong> Address1 :</strong>{{i.address1}}</label>
                    
                </div>
                <div class="col-12">
                    <label for="address2" class="form-label"><strong>Address2 :</strong>{{i.address2}}</label>
                    
                </div>

                <div class="col-12">
                    <label for="district" class="form-label"><strong>District :</strong>{{i.district}}</label>
                    
                </div>

                <div class="col-12">
                    <label for="city" class="form-label"><strong>City :</strong>{{i.city}}</label>
                </div>

                <div class="col-12">
                    <label for="state" class="form-label"><strong>State :</strong></label>{{i.state}}
                </div>

                <div class="col-12">
                    <label for="pincode" class="form-label"><strong>Pincode :</strong>{{ i.pincode}}</label>
                </div>
                <div class="col-12">
                    <label for="contact_no" class="form-label"><strong>Contact Number :</strong>{{i.contact_no}}</label>
                </div>

                <div class="col-12">
                    <label for="date_s" class="form-label"><strong>pick-up date :</strong>{{i.date_s}}</label>
                </div>

                <div class="col-12">
                    <label for="time" class="form-label"><strong>pick-up time : </strong>{{i.time}}</label><br>
                </div>
                <div class="col-12">
                    <strong><h5>Ewaste Detail:</h5></strong>
                    <strong><h6> Item 1:</h6></strong>
                </div>
                <div class="col-12">
                    <label for="ename" class="form-label"><strong>Ewaste Name :</strong>{{i.ename}}</label>
                </div>
                <div class="col-12">
                    <label for="quantity" class="form-label"><strong>quantity :</strong>{{i.quantity}}</label>
                </div>
                <div class="col-12">
                    <label for="EwasteType" class="form-label"><strong>Ewaste Type :</strong>{{i.EwasteType}}</label>
                </div>

                <div class="col-12">
                    <label for="size" class="form-label"><strong>E-waste Size :</strong>{{i.size}}</label><br>
                </div>

                <div class="col-12">
                    <label for="weight" class="form-label"><strong>Ewaste Weight</strong>{{i.weight}}</label>
                </div>

                <div class="col-12">
                    <label for="e_img" class="form-label"><strong>E-Waste photos</strong></label>
                    <div class="col-md-6 mb-4">
                        <div>
                        {{i.e_img}}
                        </div>
                        <div>{{i.e_img2}}</div>
                        <div>{{i.e_img3}}</div>
                    </div>
                </div>

                <div class="col-12">
                    <button class="btn btn-success btn-lg" type="">Accept</button>
                    <button class="btn btn-danger btn-lg" type="submit">Decline</button>
                </div>
            </div>
        </div>
    {% endfor %}
</body>
</html>

{% endblock body %}
