{% extends 'dashboard3.html' %}
{% block body %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>updatengoform</title>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

    <!-- Fengyuan Chen's Datepicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css"
        integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"
        integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>

</head>
<body>

    {% for i in item_list %}

        <div class="container">
            <div class="row g-3">
                <div class="col-12">
                    <label for="coordinator_name" class="form-label"> <strong>coordinator_name :</strong> {{i.coordinator_name}}
                    </label>
                    
                </div>
                <div class="col-12">
                    <label for="coordinator_phone" class="form-label"> <strong> coordinator_phone :</strong>{{i.coordinator_phone}}</label>
                    
                </div>
                <div class="col-12">
                    <label for="coordinator_email" class="form-label"><strong>coordinator_email :</strong>{{i.coordinator_email}}</label>
                    
                </div>

                <div class="col-12">
                    <label for="event_name" class="form-label"><strong>event_name :</strong>{{i.event_name}}</label>
                    
                </div>

                <div class="col-12">
                    <label for="event_desc" class="form-label"><strong>event_desc :</strong>{{i.event_desc}}</label>
                </div>

                <div class="col-12">
                    <label for="venue" class="form-label"><strong>venue :</strong></label>{{i.venue}}
                </div>

                <div class="col-12">
                    <label for="event_date" class="form-label"><strong>event_date :</strong>{{ i.event_date}}</label>
                </div>
                <div class="col-12">
                    <label for="time" class="form-label"><strong>Time :</strong>{{i.time}}</label>
                </div>

               
                <div class="col-12">
                    <button class="btn btn-success btn-lg" type="">Accept</button>
                    <button class="btn btn-danger btn-lg" type="submit">Decline</button>
                </div>
            </div>
        </div>
    {% endfor %}
</body>
</html>

{% endblock body %}
