{% extends 'base.html' %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>search</title>
   <style>
    .abc{
        text-decoration: none;
        color: black;
    }
   </style>
</head>
<body>
    <h2>Search for NGOs :</h2>
    <ul class="list-group">
        <li class="list-group-item"> <a href="events" class="abc"> <strong>abc ngo</strong></a> </li>
        <li class="list-group-item"><a href="events" class="abc"><strong>xyz ngo</a></strong></li>
        <li class="list-group-item"><a href="events" class="abc"><strong>pqr ngo</a></strong> </li>
        <li class="list-group-item"><a href="events" class="abc"><strong>stu ngo</a></strong></li>
      </ul>
   
</body>
</html>
{% endblock body %}
