<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sign-up Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="sign-up.css">
</head>

  <body>
    {% for message in messages %}
    <div class ="alert alert-{{message.tags}} alert-dismissible fade show" role='alert>'
    <strong>Message:</strong>{{message}}
    <button type = "button" class = "close" data-dismiss="alert" aria-label ="close">
    <span aria-hidden="true">&times;</span>
    </button>
    {% endfor %}
    <br></br>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <section class="wrapper">
        <div class="container">
            <div class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4 text-center">
                <form class="rounded bg-white shadow p-5" action="/signup" method = "post">
                    <h3 class="text-dark fw-bolder fs-4 mb-2">Create an Account</h3>
                    <div class="text-muted fw-normal mb-4">
                        Already have an Account? <a href="/signin" class="text-primary fw-bold text-decoration-none">Sign-In</a>
                    </div>
                    {% csrf_token %}
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name = "name" id="floatingFullName" placeholder="Full Name">
                        <label for="floatingFullName">Full Name</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" name = "username" placeholder="enter username">
                        <label for="floatingInput">Username</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" name = "email" placeholder="name@example.com">
                        <label for="floatingInput">Email</label>
                    </div>

                    <div class="form-floating mb-3">
                        <select type="text" class="form-control" id="role" name = "role"  style="text-align: center; ">
                          <option value="NULL">Select Role</option>
                          <option value="Donator">Donator</option>
                          <option value="Junk Collector">Junk Collector</option>
                          <option value="NGO">NGO</option>
                          <option value="Office">Office</option>
                          <option value="Dealer">Dealer</option>
                          <option value="Recycling Plant">Recycling Plant</option>
                        </select>
                      </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingPassword" name = "password" placeholder="Password">
                        <label for="floatingPassword">Password</label>
                        <span class="password-info mt-2">
                            Use 8 or more characters with atleast one letter,number & symbol.
                        </span>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingConfirmPassword" name = "confirmpassword" placeholder="Confirm Password">
                        <label for="floatingConfirmPassword">Confirm Password</label>
                    </div>

                    <div class="form-check d-flex align-items-center">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label ms-2" for="gridCheck">
                          I agree <a href="#">Terms & Conditions</a>.
                        </label>
                      </div>
                   
                    <button type="submit" class="btn btn-primary submi_btn w-100 my-4">Continue</button>
                </form>
            </div>
        </div>
    </section>
</body>
</html>



<style>

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
 --primary-font-family: 'Poppins', Sans-serif;   
 --light-white: #f5f8fa;
 --gray: #5e6278;
 --gray-1: #e3e3e3;
}

body{
    font-family:var(--primary-font-family);
    font-size: 14px;
}

.wrapper{
    padding: 100px 0 100px;
}
.wrapper input{
    background-color:var(--light-white);
    border-color:#e3e3e3;
    color:black;

}

.wrapper .password-info{
    font-size: 11px;
}

</style>